<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Feed browser</title>
<link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.7.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.7.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/browse.js"></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
</head>

<body>

    <div id="accordion">

    <div>
	<h3><a href="#">Create new</a></h3>
	<div>
	  <form action="/create_feed/" method="post">
	    {{ create_form.as_p }}
	    <input type="submit" value="Submit" />
	    {% csrf_token %}
	  </form>
	</div>
    </div>

    <div>
	<h3><a href="#">Add new</a></h3>
	<div>
	  <form action="/add_feed/" method="post">
	    {{ add_form.as_p }}
	    <input type="submit" value="Submit" />
	    {% csrf_token %}
	  </form>
	</div>
    </div>
      

</body>
</html>
