{% for item in items %}
<div>

  {% if item.dir %}
  <h3><a href="#">+ <img src="{{ item.basic_meta.image }}" style="height: 1em" /> {{ item.name }}</a></h3>
  {% else %}
  <h3><a href="#">{{ item.name }}</a></h3>
  {% endif %}
  <div class="panel">
    <input type="button" value="Edit" class="edit" />
    <div class="display">
      <img src="{{ item.basic_meta.image }}" style="float: left" />
      <ul>
        <li><label>Original:</label><a href="{{ item.basic_meta.location }}">{{ item.basic_meta.location }}</a></li>
        <li><label>Publish:</label><a href="{{ item.basic_meta.publish }}">{{ item.basic_meta.publish }}</a></li>
        <li><label>Export feed:</label><a href="{{ item.basic_meta.exportFeedLink }}">{{ item.basic_meta.exportFeedLink }}</a></li>
        {% for key, value in item.rich_meta.items %}
          <li><label>{{ key }}:</label>{{ value }}</li>
        {% endfor %}
      </ul>
      <p>{{ item.description }}</p>
      <ul>
	{% for item in item.items %}
	<h4><a href="{{ item.guid }}">{{ item.title }}</a></h4>
	{% endfor %}
      </ul>
    </div>

    {% if item.dir %}
    <script>
      add_list('{{ item.parent }}{{ item.name }}', '#accordion-{{ item.id }}');
    </script>
    <div id="accordion-{{ item.id }}">
    </div>
    {% else %}
    <div class="form">
      <form action="/change" method="post">
	{{ item.edit_form.as_p }}
	<input type="submit" value="Change" />
	{% csrf_token %}
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
