{% if created_feed %}
<div>
  <h3><a href="#">Add New Item</a></h3>
  <div>
    <form method="post" action="/add_item/">
      {{ item_form.as_p }}
      <input type="hidden" value="{{ item.parent }}{{ item.dirpath }}" name="feed_dir" />
      <input type="submit" />
    </form>
  </div>
</div>
{% endif %}

{% for item in items %}
<div id="accordion-{{ item.id }}">

  {% if item.dir %}
  <h3>
    <a href="#">
      + <img src="{{ item.basic_meta.image }}" style="height: 1em" /> {{ item.name }}
      <input type="button" value="X" class="delete" path="{{ item.parent }}{{ item.dirpath }}" />
      {% if not item.created_feed %}
        <input type="button" value="Update" class="update" path="{{ item.parent }}{{ item.dirpath }}" accordion="#accordion-{{ item.id }}" tabs="#tabs-{{ item.id }}" />
      {% endif %}
  </a>
  </h3>
  {% else %}
  <h3>
     <a href="#">{{ item.name }}
       <input type="button" value="X" class="delete" path="{{ item.filename }}" />
     </a>
  </h3>
  {% endif %}
  
  <div class="panel tabbed" id="tabs-{{ item.id }}">
    <ul>
      {% if 'f' in item.tabs %}
      <li><a href="#tabs-{{ item.id }}-feed">Feed</a></li>
      {% endif %}
      {% if 'd' in item.tabs %}
      <li><a href="#tabs-{{ item.id }}-didbase">DID_BASE</a></li>
      {% endif %}
      {% if 't' in item.tabs %}
      <li><a href="#tabs-{{ item.id }}-torrent">Torrent</a></li>
      {% endif %}
      {% if 'v' in item.tabs %}
      <li><a href="#tabs-{{ item.id }}-view">View</a></li>
      {% endif %}
    </ul>

    {% if 'v' in item.tabs %}
    <div id="tabs-{{ item.id }}-view" path="{{ item.parent }}{{ item.dirpath }}"></div>
    {% endif %}

    {% if 't' in item.tabs %}
    <div id="tabs-{{ item.id }}-torrent">
      This here is a torrent
    </div>
    {% endif %}
    
    {% if 'f' in item.tabs %}
    <div id="tabs-{{ item.id }}-feed">
      <input type="button" value="Edit" class="edit" />

      {% if item.dir %}
      <form action="/#tabs-{{ item.id }}-feed" method="post" class="form dir">
      {% else %}
      <form action="/#tabs-{{ item.id }}-feed" method="post" class="form">
      {% endif %}
        <input type="submit" value="Submit" class="first-submit" />
        <input type="submit" value="Cancel" class="cancel first-cancel" />
        {{ item.edit_form.as_p }}
        <input type="submit" value="Submit" />
        <input type="submit" value="Cancel" class="cancel" />
        {% csrf_token %}
      </form>
      
      <div class="display">
        <img src="{{ item.basic_meta.image }}" class="feed-image" />
        <ul class="meta-data">
          <li><label>Original:</label><a href="{{ item.basic_meta.location }}">{{ item.basic_meta.location }}</a></li>
          <li><label>Publish:</label><a href="{{ item.basic_meta.publish }}">{{ item.basic_meta.publish }}</a></li>
          <li><label>Export feed:</label><a href="{{ item.basic_meta.exportFeedLink }}">{{ item.basic_meta.exportFeedLink }}</a></li>
        </ul>
        <hr />
        <ul class="meta-data">
          {% for name, value in item.rich_meta.items %}
            <li><label>{{ name }}: </label>{{ value }}</li>
          {% endfor %}
        </ul>
        <p>{{ item.description }}</p>
        <ul>
          {% for item in item.items %}
          <h4><a href="{{ item.guid }}">{{ item.title }}</a></h4>
          {% endfor %}
        </ul>
      </div>
      
      {% if item.dir %}
      <div id="accordion-{{ item.id }}-inner"></div>
      <script>
        add_list2('{{ item.parent }}{{ item.dirpath }}',
                  '#accordion-{{ item.id }}',
                  '#tabs-{{ item.id }}');
      </script>
      {% endif %}

    </div>
    {% endif %}

    {% if 'd' in item.tabs %}
    <div id="tabs-{{ item.id }}-didbase"></div>
    {% endif %}
    
  </div>
</div>
{% endfor %}
 