.errorlist { 
  color: red; 
  font-size: 0.7em;
}

.form { 
  display: none;
  position: absolute;
}

.form.dir {
    height: 200px;
    overflow: auto;
    width: 90%;
}

ul {
  padding-left: 160px;
}

li {
  list-style: none;
  font-size: 0.8em;
}

img.feed-image {
  float: left;
  margin-right: 10px;
  width: 150px;
}

label {
  font-weight: 600;
  display: inline-block;
  padding-right: 1em;
}

form {
  font-size: 0.8em;
}

h3 a {

}

h3 input[type=button] {
    float: right;
}

h3 input[type=button].delete {
   
}

h3 input[type=button].update {
   
}

/*form input.first-submit {
    position: relative;
    top: -23px;
    left: 50px;
}*/

label {
    width: 125px;
}

input[type='text'] {
    width: 250px;
}

textarea {
    width: 250px;
    height: 60px;
}

div.panel div.ui-tabs-panel div.pre {
    height: 350px;
    width: 100%;
}